/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MY CSS RULES */
/*Base*/
body{
	width: 100%;
	max-width: 100%;
	line-height: 1.563em;
	font-family: 'PT Sans', sans-serif;
	background: #fefefe;
}
h1{
	font-size: 1.953em;
}
h2{
	font-size: 1.563em;
}
h3{
	font-size: 1.25em;
}
h1,h2,h3{
	line-height: 1.953em;
}
p{
	font-size: 1em;
}
a{
	font-size: .8em;
	color: inherit;
	margin: 0 .328em 0 0;
	display: inline;
}
a:visited {
	font-size: .8em;
	color: inherit;
}
a:hover{
	color: #575757;
}
/*Layout*/
.section{
	padding: 3.052em 3.052em 0 3.052em ;
}
.section a{
	display: block;
}
.project{
	padding: 3.052em 3.052em 0 3.052em ;
	margin: 0 auto;
}
.project h1{
	text-align: center;
}
.project p{
	text-align: left;
	margin-bottom: 3.052em;
}
/*Module*/
img{
	width: 3.052em;
	height: 3.052em;
}
/*State*/
@media (min-width: 700px) {
	.section, .project{
		width: 60%;
	}
	.project{
		margin-left: 20%;
	}
}
