/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#wrapper{
	font-family: Helvetica;
	line-height: 1em;
}

#intro{
	background: #FBFFFC;
	padding: 6em 1em 6em;
}
#intro-content{
	line-height: 3em;
	margin-left: 10%;
}
h1{
	font-size: 3.25em;
	margin-left: 0;
	color: #7D7F7E;
	text-shadow: .03em .03em #BDBFBD;
}
p{
	color: #7D7F7E;
	font-size: 1.25em;
	margin-left: 0;
}
#about-me{
	background: #3F403F;
	padding: 4em 1em 4em;
}
#am-content{
	width: 100%;
	line-height: 2em;
	margin-left: 5%;
	width: 90%;
}
h2{
	color:	#7D7F7E;
	margin-top: 1.5em;
	font-size: 2.5em;
}
h2+p{
	font-size: 1.25em;
	margin-top: 1.5em;
}
img{
	height: 100%;
	width: 100%;
}
figcaption{
	margin-left: 2.5%;
	line-height: 1em;
	font-size: small;
	color: #7D7F7E;
}
#i-am{
	background: #FBFFFC;
	color:	#7D7F7E;
	padding: 4em 1em 4em;
	width: 100%;
}
#i-am-content{
	line-height: 1.75em;
	margin-left: 5%;
}
ul{
	padding-top: 1.5em;
}
li{
	font-size: 1.25em;
	color: #7D7F7E;
	margin-left: 5%;
}
a{
	font-size: .875em;
	text-decoration: none;
}
#contact{
	margin-left: 5%;
	line-height: 1.875em;	
}
footer{
	width: 100%;
	background: #3F403F;
	padding: 4em 1em 4em;
}
.down{
	margin: 0 auto;
	width: 4em;
	height: 4em;
}
.down > img{
	margin-bottom: 0;
}
