/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MY CSS RULES */
/*Base*/
body{
	line-height: 1.618em;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: #2E2E2E;
}
h1, h2, p, li, a, figcaption{
	margin-left: 5%;
}
h1{
	line-height: 1.816em;
	font-size: 2.618em;
	font-weight: 700;
	color: #C1C1C1;
}
h2{
	font-size: 1.618em;
	font-weight: 700;
	color: #C1C1C1;
}
#about-me > h2,#i-am > h2, ul{
	padding: 1em 0 1em 0;
}
p, a, li{
	font-family: 'Ledger', serif;
}
p, li{
	font-size: 1em;
	color: #8D8D8D;
}
a{
	font-size: 1em;
	text-decoration: none;
}

/*Layout*/

#intro{
	padding: 4.236em 0 4.236em 0;
}
#about-me{
	padding: 0 0 4.236em 0;
}
#i-am{
	padding: 0 0 4.236em 0;
}
footer{
	background: #3F3F3F;
	padding: 4.236em 0 4.236em 0;
}
/*Module*/

#sm-icons > li{
	float: left;
}
.icons{
	padding: .236em .236em .236em 0;
	width: 2.618em;
	height: 2.618em;
}
/*State*/
@media (min-width: 700px) {
  h1, h2, p, li, a{
		margin-left: 20%;
	}
  #about-me > p {
    width: 30em;
  }
	
}
